/*color palette*/
:root {
  --primary:#16450C;
  --primary-1: #83B874;
  --secondary: #98AEAE;
  --secondary-1: #47535C;
  --light: white;
  --dark: black;
  --underline: white;
  --padding-s: 8px;
  --padding-m: 12px;
  --padding-l: 16px;
}

/*navigation bar*/
.navbar{
  display: flex;
  background-color: var(--primary-1);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  padding: var(--padding-m);
}

.nav-style{
  color: var(--dark);
  text-align: center;
}

.nav-elements{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 16px;
  font-size: 20px;
  font-weight: bold;
}

.nav-elements *{
  float: left;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-elements *:hover{
  text-decoration: underline;
}

.contact-button{
  padding-left: 8px;
  padding-right: 8px;
}