* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 
 :root {
  --header-height: 3.5rem;
  --body-font: "Montserrat", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
 }
 
 body {
  font-family: var(--body-font);
 }
 
 a {
  text-decoration: none;
 }

 .page-header{
  font-size: var(--h2-font-size);
 }

 .section-text{
  font-weight: var(--small-font-size);
 }